<% provide(:title,"Home") %>

<h1> Admin </h1>
<div class="row">
	<%= link_to "Servicios", '/admin/servicios' %>
	<%= link_to "Preparadores", '/admin/preparadores' %>
</div>
<div class="row">
	<%= link_to "Admisión", '/admin/admision' %>
</div>
