<!DOCTYPE html>
<h1>
	Admisión
</h1>

<h2>
	<% @posts.each do |post| %>
		<div class="panel panel-default"> 
			<div class="panel-heading"><%= post.name %></div>
			<div class="panel-body">
				<%= post.info %>
			</div>
		</div>
	<% end %>
</h2>