<!DOCTYPE html>
<h1>
	Preparadores
</h1>


<% (0..@filas-1).each do |i| %>
	<div class="center row">
		<% (0..2).each do |j| %>
			<% if @preparadores[j+(3*i)].present? %>
				<div class="col-lg-4">
					<div> 
						<img src=<%= @preparadores[j+(3*i)].avatar %> alt="PrepAv" class="img-responsive"> 
					</div>
					<div> <%= @preparadores[j+(3*i)].name %> </div>
					<div> <%= @preparadores[j+(3*i)].email %></div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>