<!DOCTYPE html>
<h1>
	Preparadores
</h1>

<!-- Esto se hara con ruby y un ciclo despues
	 Cuando tengamos BD -->
<div class="center row">
	<div class="col-lg-12">
		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep1 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep2 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep3 </div>
		</div>
	</div>
</div>

<div class="center row">
	<div class="col-lg-12">
		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep4 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep5 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep6 </div>
		</div>
	</div>
</div>

<div class="center row">
	<div class="col-lg-12">
		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep7 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep8 </div>
		</div>

		<div class="col-lg-4">
			<div> [Foto] </div>
			<div> Prep9 </div>
		</div>
	</div>

</div>
