<!DOCTYPE html>
<h1>
	Servicios
</h1>

<h2>
	<% @servicios.each do |servicio| %>
		<div class="panel panel-default"> 
			<div class="panel-heading"><%= servicio.name %></div>
			<div class="panel-body">
				<%= servicio.info %>
			</div>
		</div>
	<% end %>
</h2>