@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */
$gray-medium-light: #eaeaea;

/*@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}*/

/* universal */
.page-header {
	margin-top: 0px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 45px;
	margin-bottom: -30px;
	text-align: center;
}

.navbar {
	border: 0px;
	margin-top: 10px;
	padding-right: 200px;
	background: black;
}

.navbar .nav > li > a {
	color: white;
}

body {
	padding-top: 0px;
	background: $gray-medium-light;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 0px;
	}
}

.full-width-div {
	position: absolute;
	width: 100%;
}


.col-lg-9 {
	margin-left: -14px;
	.jumbotron {
		color: white;
		background-color: black;
		margin-top: -19px;	
	}
}

.col-lg-3 {
	margin-top: -19px;
	width:350px;
	.jumbotron {
		width: 366px;
		margin-left:-29px;
		color: white;
		background-color: black;	
	}
}


/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 0px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: white;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

.img-responsive {
	float: left;
	width: 7%;
	height: 7%;
	margin-left: 20px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray;
	a {
		color: $gray;

		&:hover {
			color: $gray-darker;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}