<footer class="footer">
	<small>
		<a href="/">Mantenimiento de Aulas Computarizadas</a>
	</small>
	<nav>
		<ul>
			<li><a href="#">Wiki</a></li>
			<li><a href="#">Reserva</a></li>
			<li><a href="#">Stuff</a></li>
		</ul>
	</nav>
</footer>