<header class="page-header">
	<h1>
		Example page header
		<a href="/">
			<img src="http://infinitygene.net/images/black.jpg" alt="Mac logo" class="img-responsive">
		</a>
	</h1>
</header>
<div class="navbar navbar-inverse page-header">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Home",	  root_path %></li>
				<li><%= link_to "Help",   '#' %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</div>